/* MAIN CSS */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  font-size: 0.9rem;
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.25rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
/* Header */
h1 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #333;
}

/* Form Container */
.formContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* First Part */
.firstPart {
  text-align: center;
  display: flex;
  gap: 1.5rem;
}

/* Pax Section */
.pax,
.guide,
.guideTransfer,
.meals,
.galaDinner,
.profit,
.guideDriverExpenses {
  width: 100%;
}

/* Hotel Section */
.hotels {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.hotelSection {
  flex: 1;
  border: 0.0625rem solid #ccc;
  border-radius: 0.5rem;
  padding: 1.5rem;
  padding-top: 1rem;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.hotelSection h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #333;
}

/* Hotel Details */
.hotelDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
}

.single,
.double,
.nights {
  flex: 1;
}

.hotelDetails label {
  color: #555;
}
input {
  margin: 0.3rem 0;
  text-align: center;
  width: 100%;
}
.hotelDetails input[type="number"] {
  width: 100%;
  padding: 0.75rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
}

/* Transportation Section */
.transportation {
  margin: 0 auto;
  padding: 1.5rem;
  padding-top: 1rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.transportation h1 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #333;
}

.cars {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  text-align: center;
}

.sedan,
.minivan,
.sprinter,
.bus {
  flex: 1;
}

.transportation label {
  color: #555;
}

.transportation input[type="number"] {
  width: 100%;
  padding: 0.75rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
}

/* Calculate Button */
.calculateBtn {
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem;
  border: none;
  background-color: #ffe141;
  color: black;
  font-weight: 700;
  cursor: pointer;
  border-radius: 2rem;
}

/* .calculateBtn:hover {
    background-color: #ffe141;
  } */
/* Museums Section */
.museums {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  border: 0.0625rem solid #ccc;
  border-radius: 0.5rem;
  padding: 1.25rem;
}

.museums input[type="checkbox"] {
  display: none; /* Hide the checkboxes */
}

/* Custom checkbox design */
.museums label {
  position: relative;
  display: flex;
  width: 16%;
  font-size: 0.9rem;
  align-items: center; /* Center the text vertically */
  padding-left: 2rem;
  cursor: pointer;
}

.museums label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); /* Center the checkbox vertically */
  width: 1rem;
  height: 1rem;
  border: 2px solid #ffe141; /* Border color */
  border-radius: 3px;
}

.museums input[type="checkbox"]:checked + label:before {
  background-color: #ffe141; /* Fill color when checked */
}
#result {
  margin-top: 1rem;
}

#result table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  border-radius: 0.5rem; /* Add border radius */
  overflow: hidden; /* Hide overflowing content */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

#result th,
#result td {
  padding: 0.75rem; /* Adjust padding for better spacing */
  border: 1px solid #ddd;
  text-align: center;
}

#result th {
  background-color: green;
  color: white; /* Adjust text color for better contrast */
}

@media screen and (max-width: 768px) {
  h1 {
    margin-bottom: 0.2rem;
  }
  .museums label {
    width: 49%;
  }
  h1 {
    font-size: 1.2rem; /* Example font size for h1 */
  }

  .hotelSection h1 {
    font-size: 1.2rem; /* Example font size for hotel section h1 */
  }

  .transportation h1 {
    font-size: 1.2rem; /* Example font size for transportation section h1 */
  }

  .calculateBtn {
    font-size: 1rem; /* Example font size for calculate button */
  }

  .museums label {
    font-size: 0.9rem; /* Example font size for museums label */
  }
  .hotels {
    flex-direction: column;
    gap: 0.5rem;
  }
  #result table {
    font-size: 0.8rem;
  }
  /* Adjust input sizes */
  input[type="number"] {
    padding: 0.5rem; /* Example padding for input fields */
    text-align: center;
    width: 100%;
  }
  .firstPart {
    flex-wrap: wrap;
  }

  /* Display inputs of firstPart in the same line */
  .firstPart .pax,
  .firstPart .guide,
  .firstPart .guideTransfer,
  .firstPart .meals,
  .firstPart .galaDinner,
  .firstPart .profit,
  .firstPart .guideDriverExpenses {
    padding: 0.01rem;
    width: 48%; /* Set width to 50% to display inputs in the same line */
  }
  .firstPart .profit {
    width: 96%;
  }
  .firstPart {
    gap: 0;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .museums label {
    width: 32%; /* Adjust width to fit three checkboxes per row */
  }
  .firstPart {
    flex-wrap: wrap;
  }
  h1 {
    font-size: 1.1rem;
  }
  .hotelSection h1 {
    font-size: 1rem;
  }
  .transportation h1 {
    font-size: 1rem;
  }
  .calculateBtn {
    font-size: 0.9rem;
  }
  .museums label {
    font-size: 0.8rem;
  }

  /* Adjust font size for table */
  #result table {
    font-size: 0.9rem;
  }

  /* Display inputs of firstPart in a single column */
  .firstPart .pax,
  .firstPart .guide,
  .firstPart .guideTransfer,
  .firstPart .meals,
  .firstPart .galaDinner,
  .firstPart .guideDriverExpenses,
  .firstPart .profit {
    width: 48%; /* Set width to 100% for single-column layout */
  }
  .firstPart .profit {
    width: 96%;
  }
}
